.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a202c;
}

.login-buttons {
  display: flex;
  flex-direction: column;
}
.login-provider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  height: 3em;
  border: 1px solid #995b5b;
  border-radius: 5px;
  margin-bottom: 1em;
  background-color: #ffffff;
  color: #222222;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.login-provider-button:hover {
  transform: scale(1.05);
}
.login-provider-button img {
  width: 1.6em;
  height: 1.6em;
  margin-right: 0.5em;
}
